doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title PolyGlotBénin - Landing Page

    // Favicon
    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

    // Core theme CSS (includes Bootstrap)
    link(href='css/styles.css', rel='stylesheet')

  body
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href='#')
          img(src='assets/logo.png', alt='PolyGlotBénin')
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href='#') Connexion
            li.nav-item
              a.nav-link.btn.btn-primary.text-white(href='#') Inscription

    // Header Section
    header
      .container
        .row.align-items-center
          .col-md-6
            h1 PolyGlotBénin
            p Doublage de vidéos simplifié par l'IA. Faites le doublage de vos vidéos dans une langue étrangère et une de nos 3 langues locales !
            a.btn.btn-success(href='#') Inscription
          .col-md-6
            img.img-fluid(src='assets/screen.png', alt='Screenshot')

    // Main Content
    main
      .container
        .row.text-center
          h2 Débloquez la puissance de PolyGlotBénin
          p Choisissez un plan qui vous convient
          
          .col-md-6
            .card
              .card-body
                h3 Gratuit
                p $0 / mois
                ul
                  li Accès limité aux fonctionnalités
                  li Doublage vidéo simple
                  li Doublage vidéo en 3 langues locales
                  li Assistance de base
                a.btn.btn-outline-primary(href='#') Commencer maintenant

          .col-md-6
            .card.bg-dark.text-white
              .card-body
                h3 Professionnel
                p $25 / mois
                ul
                  li Accès complet aux fonctionnalités
                  li Doublage vidéo avancé
                  li Doublage vidéo en toutes langues disponibles
                  li Support prioritaire
                a.btn.btn-primary(href='#') Commencer maintenant

    // Footer
    footer.bg-dark.text-white
      .container.text-center
        p PolyGlotBénin équipe
        p Notre équipe d'expert travaille chaque jour dans le but de rendre votre expérience optimale. Restez connecté avec nous pour en savoir plus.
        p Jerry Wenco, CEO
        img(src='assets/i.jpg', alt='Team', class='img-fluid rounded-circle')