doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title PolyGlotBénin - Landing Page

    // Favicon
    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

    // Core theme CSS (includes Bootstrap)
    link(href='css/styles.css', rel='stylesheet')

  body
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container
        a.navbar-brand(href='#')
          img(src='assets/logo.png', alt='PolyGlotBénin')
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link(href='#') Connexion
            li.nav-item
              a.nav-link.btn.btn-primary.text-white(href='#') Inscription

    // Header Section
    header
      .container
        .row.align-items-center
          .col-md-6
            h1 PolyGlotBénin
            p Doublage de vidéos simplifié par l'IA. Faites le doublage de vos vidéos dans une langue étrangère et une de nos 3 langues locales !
            a.btn.btn-success(href='#') Inscription
          .col-md-6
            img.img-fluid(src='assets/screen.png', alt='Screenshot')

    // Main Content
    main
      .container
        .row.text-center
          h2 Débloquez la puissance de PolyGlotBénin
          p Choisissez un plan qui vous convient

          .col-md-6
            .card
              .card-body
                h3 Gratuit
                p $0 / mois
                ul
                  li Accès limité aux fonctionnalités
                  li Doublage vidéo simple
                  li Doublage vidéo en 3 langues locales
                  li Assistance de base
                a.btn.btn-outline-primary(href='#') Commencer maintenant

          .col-md-6
            .card.bg-dark.text-white
              .card-body
                h3 Professionnel
                p $25 / mois
                ul
                  li Accès complet aux fonctionnalités
                  li Doublage vidéo avancé
                  li Doublage vidéo en toutes langues disponibles
                  li Support prioritaire
                a.btn.btn-primary(href='#') Commencer maintenant

    // Team Section
    section.bg-light.py-5
      .container.text-center
        h2 PolyGlotBénin équipe
        p Notre équipe d'expert travaille chaque jour dans le but de vous offrir un service de qualité. Restez donc en contact avec nous.
        .row.justify-content-center.mt-4
          .col-md-2
            img.img-fluid.rounded-circle(src='assets/free.png', alt='Team member')
          .col-md-2
            img.img-fluid.rounded-circle(src='assets/free.png', alt='Team member')
          .col-md-2
            img.img-fluid.rounded-circle(src='assets/free.png', alt='Team member')
          .col-md-2
            img.img-fluid.rounded-circle(src='assets/free.png', alt='Team member')
          .col-md-2
            img.img-fluid.rounded-circle(src='assets/free.png', alt='Team member')
        .mt-4
          .col-md-4.mx-auto
            .card
              .card-body
                img.img-fluid.rounded-circle(src='assets/free.png', alt='CEO')
                h3 Jerry Wenco
                p CEO

    // Footer
    footer.bg-dark.text-white.py-4
      .container
        .row.text-center
          .col-md-4
            h5 PolyGlotBénin
            p Nous vous donnons la possibilité de faire des doublages de qualité dans une des langues locales du Bénin.
          .col-md-4
            h5 Company
            ul.list-unstyled
              li About
              li Features
              li Works
              li Career
          .col-md-4
            h5 Newsletter
            form
              input.form-control(type='email', placeholder='Votre email')
              button.btn.btn-primary.mt-2(type='submit') S'inscrire maintenant

        .text-center.mt-4
          p © Copyright 2024. All rights reserved by PolyGlotBénin

    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

    // Core theme JS
    script(src='js/scripts.js')